@mixin border-radius($grades){
	-webkit-border-top-left-radius: $grades;
	-moz-border-radius-topleft: $grades;
	border-top-left-radius: $grades;
}

@mixin linear-gradient($top, $bottom){
	background: -webkit-linear-gradient($top, $bottom); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($top, $bottom); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($top, $bottom); /* For Firefox 3.6 to 15 */
	background: linear-gradient($top, $bottom); /* Standard syntax */
}


body, div, ul, ol, li, a
{
	margin:0;
	padding:0;
	text-decoration:none;
	color:rgba(0, 0, 0, 0.5);
	list-style-type:none;
}

body{
	font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
	font-size: 16px;
}

#wrapper{
	width:960px;
	padding:25px;
	position:relative;
}

.content{
	display:none;
}

img{
	width:15px;
	height:15px;
}

.notification-list > li{
	display:inline-block;
	float:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	padding:7px 15px;
	font-size:1.1em;
	@include linear-gradient(#ABABAB, #DDDDDD);

	&:hover{
		border-bottom-style:none;
	}

	&:first-child{
		-webkit-border-top-left-radius: 15px;
	}

	&:last-child{
		border-right:1px solid black;
		-webkit-border-top-right-radius: 15px;
	}

	&:hover > div.content{
		position:absolute;
		display:block;
		border-left:1px solid black;
		border-right:1px solid black;
		border-bottom:1px solid black;
		left:25px;
		top:60px;
		width:467px;
		font-size:0.9em;
		z-index:-1;
		

		& > ul{
			padding-left:15px;
			@include linear-gradient(#DCDCDC, #CCCCCC);
		}

		a > span{
			padding-left:7px;
		}
	}
}

.content > ul > li{
	padding-bottom:5px;
	padding-top:5px;

	&:hover{
		text-decoration:underline;
	}
}


