section 
{
    border:1px solid black;
    width:50%;
}
img
{
float:left;margin-left:40px;width:100px; height:100px;
}
h1 
{
    text-align:center;font-size:x-large; margin-right:100px;
}
nav
{
    clear:both; margin-top:100px; margin-left:40px;
}
table
{
    border-collapse:collapse;
    margin-left:50px;
    margin-bottom:20px;
}
table,th,td
{
    border:2px solid black;
    padding:3px;
}
td
{
    text-align:center;
}