@import 'reset';
@import 'mixins';

body
{
	font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-size: 16px;

	a{
		color:black;
	}
}

#wrapper{
	padding:15px;

	& > div{
		padding:10px;
		width:680px;
		background:#CCCCCC;

		@include border-radius(5px);
	}
}

.holder{
	display:inline-block;

	& > img{
		width:550px;
		height:415px;
		@include border-radius(5px);
	}
}

.playlist{
	display:inline-block;
	position:absolute;
	margin-left:10px;
	margin-top:3px;
}

img{
	display:block;
}

li{
	text-align:center;
	font-weight:bold;
	width:120px;
	border-bottom:1px solid black;
	padding-bottom:7px;
	margin-bottom:5px;

	img{
		margin-left:12px;
		@include border-radius(10px);
	}
}

span:hover{
		text-decoration:underline;
}
